<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app" class="container mt-4">
        <!-- <button @click="add_item" class="btn btn-primary mb-3">
            Добавить запись
        </button> -->

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User</th>
                        <th scope="col">Providers</th>
                        <th scope="col">Data</th>
                        <th scope="col">Data Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in ReadTable.data" :key="item.id">
                        <td>{{ item.id }}</td>
                        <td>{{ item.user }}</td>
                        <td>{{ item.providers }}</td>
                        <td>{{ item.data }}</td>
                        <td>{{ item.dataupdate }}
                            <button @click="edit(item.id)" class="btn btn-primary">
                               edit
                           </button>
                           <button @click="deleteItem(item.id)" class="btn btn-danger">
                            delete
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form ref="myForm" class="card mt-4 p-3 bg-light">
            <div class="card-body">
              <div class="form-group mb-3">
                <label class="form-label">Имя:</label>
                <input  type="text" v-model="name" name="name" class="form-control">
              </div>
              <div class="form-group mb-3">
                <label class="form-label">Метод оплаты:</label>
                <select 
                  class="form-select" 
                  v-model="selectedPaymentMethod" 
                  name="payment_method"
                >
                  <option v-for="(item, key) in data_add_item.payment_methods" :key="key" :value="key">
                    {{ key }}
                  </option>
                </select>
              </div>
              <div class="form-group mb-3" v-if="selectedPaymentMethod">
                <div 
                  v-for="(item_select, key) in data_add_item.payment_methods[selectedPaymentMethod]" 
                  :key="key"
                >
                  {{ item_select.title }}
                  <div v-if="item_select.type == 'choice'">
                    <select :name="item_select.id">
                      <option v-for="item in item_select.items" :key="item.id" :value="item.value">
                        {{ item.value }}
                      </option>
                    </select>
                    <div v-if="item_select.input_field">
                      <input :name="item_select.id" type="text">
                    </div>
                  </div>
                  <div v-else-if="item_select.type == 'text'">
                    <input v-model="product_fileds[item_select.id]" :name="item_select.id" type="text">
                  </div>
                </div>
              </div>
            </div>
            <button type="button" @click="FormData" class="btn btn-primary">
              Отправить
            </button>
          </form>

          <!-- Форма редактирования -->
        <div class="modal">
               <form class="card p-3"  v-if="selectedEditItem.data">
                   <h3 v-if="selectedEditItem.data">
                    Редактировать запись ID: {{ selectedEditItem.data.id }}
                  </h3>
                  <div class="form-group mb-3" v-if="selectedEditItem.data">
                    <label class="form-label">Имя:{{ selectedEditItem.data.user }}</label>
                    <input  type="text" v-model="selectedEditItem.data.user" name="name" class="form-control">
                  </div>  
                  <div class="form-group mb-3">
                    <label class="form-label">Метод оплаты:</label>
                    <select class="form-select" v-model="selectedEditItem.data.providers" name="payment_method">
                        <option v-for="provider in providers" :key="provider.id" :value="provider.id">
                          {{ provider.value }}
                        </option>
                      </select>
                  </div>
                  <div>
                    <div v-for="(value, key) in parsedProductFields" :key="key" class="form-group">
                      <label>{{ key }}</label>
                      <input
                        v-if="fieldTypes[key] === 'input'"
                        v-model="parsedProductFields[key]"
                        type="text"
                        class="form-control"
                      >

                      <select
                        v-else-if="fieldTypes[key] === 'select'"
                        v-model="parsedProductFields[key]"
                        class="form-control"
                      >

                        <option v-for="option in options[key]" :value="option.value" :key="option.id">
                          {{ option.value }}
                        </option>
                      </select>
                    </div>
                  </div>
                  
                  
                <button @click="updateItem($event)"  class="btn btn-success">Сохранить</button>
                <button @click="selectedEditItem = null" class="btn btn-danger">Отмена</button>
            </form>
        </div>
    </div>
    <script>
        const { createApp } = Vue;
        
        createApp({
            data() {
                return {
                    ReadTable: {},
                    data_add_item: [],
                    selectedPaymentMethod: null,
                    selectPaymentType: null,
                    payment_methods: {},
                    product_fileds:[],
                    formData: {},
                    full_data:{},
                    name: '',
                    selectedEditItem: {},
                    parsedProductFields: {},
                    fieldTypes: {
                        total: 'input',
                        country: 'select',
                        currency: 'select',
                        messanger: 'input',
                        payment_purpose: 'input'
                    },
                    providers: [
                        {id:"swift", value:"swift"},
                        {id:"usdt", value:"usdt"},
                    ],
                    country: [
                        { id: "de", value: "Германия" },
                        { id: "cn", value: "Китай" },
                        { id: "us", value: "США" },
                        { id: "other", value: "Другое" }
                    ],

                    currency: [
                        { id: "rub", value: "RUB" },
                        { id: "usd", value: "USD" },
                        { id: "eur", value: "EUR" },
                        { id: "cny", value: "CNY" }
                    ],
                    options: {},
                };
            },
            async mounted() {
                await this.read();
                await this.form_item();
                
                this.options = {
                    country: this.country,
                    currency: this.currency
                };
            },
            methods: {
                async read() {
                    try {
                        const response = await fetch('/function.php', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ 
                                action: 'readData' 
                            }),
                        });
                        this.ReadTable = await response.json();
                        //console.log(this.ReadTable);
                    } catch (error) {
                        console.error('Ошибка чтения:', error);
                    }
                },
                
                async form_item() {
                    try {
                        const response = await fetch('/products_fields.json', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                        });
                        this.data_add_item = await response.json();
                       //console.log(this.data_add_item);
                        
                    } catch (error) {
                        console.error('Ошибка чтения:', error);
                    }
                },
                
                FormData() {
                    const formData = new FormData(this.$refs.myForm);
                    this.formData = {}; 
                    
                    formData.forEach((value, key) => {
                        this.formData[key] = value;
                    });
                    console.log(this.formData);
                    
                    
                    if (this.selectedPaymentMethod) {
                        this.formData.payment_method = this.selectedPaymentMethod;
                    }
                    if (this.formData.country) {
                        this.product_fileds.country = this.formData.country;
                    }
                    if (this.formData.currency) {
                        this.product_fileds.currency = this.formData.currency;
                    }
                    if (this.formData.messanger) {
                        this.product_fileds.messanger = this.formData.messanger;
                    }
                    this.formData.product_fileds = { ...this.product_fileds };

                    console.log('Данные формы:', this.formData);
                    this.create();
                },
                
                async create() {
                    try {
                        if (!this.formData.name) {
                            throw new Error('Поле "name" обязательно для заполнения');
                        }
                        
                        const response = await fetch('/function.php', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                action: 'create',
                                name: this.formData.name,
                                payment_method: this.formData.payment_method,
                                full_data: this.formData
                             })
                        });
                        window.location.reload();
                        // const result = await response.json();
                        // console.log('Ответ сервера:', result);
                         //return result;
                        
                    } catch (error) {
                        console.error('Ошибка отправки:', error);
                        alert('Ошибка: ' + error.message);
                        throw error;
                    }
                },
                async edit(id) {
                  const response = await fetch('/function.php', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            action: 'edit',
                            id: id,
                        })
                     });

                     const data_edit_item = await response.json();
                     //console.log(data_edit_item);
                     this.selectedEditItem = data_edit_item;  
                    // Парсим product_fileds
                    if (this.selectedEditItem?.data?.product_fileds) {
                        this.parsedProductFields = JSON.parse(this.selectedEditItem.data.product_fileds);
                    }
                    
                },
                async updateItem(event) {
                    event.preventDefault();

                    console.log('Измененные поля:', this.selectedEditItem);
                    console.log(this.selectedEditItem.data.product_fileds);
                    

                    try {
                        const response = await fetch('/function.php', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                action: 'update',
                                id: this.selectedEditItem.data.id,
                                name:this.selectedEditItem.data.user,
                                providers:this.selectedEditItem.data.providers,
                                full_data: this.selectedEditItem.data.product_fileds
                            })
                        });

                        if (!response.ok) throw new Error('Ошибка обновления');
                        
                        // await this.read();
                        // this.selectedEditItem = null;

                    } catch (error) {
                        console.error('Ошибка:', error);
                        alert(error.message);
                    }
                },

               async deleteItem(id) {
                    if (confirm('Вы уверены, что хотите удалить запись?')) {
                        try {
                        const response = await fetch('/function.php', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            action: 'delete',
                            id: id,
                        })
                     });
                     window.location.reload();

                    } catch (error) {
                        console.error('Ошибка:', error);
                        alert(error.message);
                    }
                 }
                }
            }
        }).mount('#app');
        </script>

    <style>
        .card {
            max-width: 500px;
            width: 100%;
        }

        input[type="text"] {
            display: block;
            width: -webkit-fill-available;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-image: none;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: all 0.15s ease-in-out;
            cursor: pointer;
        }

        input[type="text"]:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        /* Стили для select */
        select {
            display: block;
            width: 100%;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-image: none;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: all 0.15s ease-in-out;
            cursor: pointer;
        }

        select:focus {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        /* Стили для option */
        option {
            padding: 0.5rem;
            color: #212529;
            background-color: #fff;
        }

        option:hover {
            background-color: #f8f9fa;
            color: #495057;
        }

        option:checked {
            background-color: #007bff;
            color: white;
        }

        /* Стили для disabled option */
        option:disabled {
            color: #6c757d;
            background-color: #e9ecef;
        }

        /* Кастомный скролл для select */
        select::-webkit-scrollbar {
            width: 8px;
        }

        select::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 0 0.25rem 0.25rem 0;
        }

        select::-webkit-scrollbar-thumb {
            background: #adb5bd;
            border-radius: 4px;
        }

        select::-webkit-scrollbar-thumb:hover {
            background: #6c757d;
        }
    </style>

</body>

</html>